.landingPage {
  min-width: 40vw;
  height: 60vh;
  background-color: #dcdcdc;
  border-radius: 1.3em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.landingPage,
.landingPage__header,
.landingPage__signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landingPage__header {
  margin-bottom: 1em;
}

.landingPage__signUp {
  width: 80%;
  background-color: gray;
  color: #fff;
  border-radius: 1rem;
  margin-top: 1em;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.landingPage__signUp > p {
  margin-top: 0.5em;
}

.landingPage__link {
  text-decoration: none;
}

.MuiSvgIcon-root {
  margin-bottom: 0.5em;
}
