.mainPage {
  width: 60vw;
  height: 80vh;
  background-color: #e0e0e0;
  border-radius: 1.3em;
  padding: 1em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  flex-direction: column;
}

.mainPage__header {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
}

.mainPage__username {
  font-size: 1.3rem;
}

.mainPage__status {
  font-size: 0.7rem;
  color: grey;
}

.mainPage__headerOptions {
  margin-left: auto;
  margin-right: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.MuiAvatar-root {
  margin-right: 0.5em;
}

.mainPage__chatSpace {
  background-color: darkgray;
  overflow: scroll;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.mainPage__chatSpace::-webkit-scrollbar {
  display: none;
}

.mainPage__chat {
  font-size: 0.9rem;
  background-color: lightyellow;
  width: fit-content;
  /* border: 2px solid white; */
  border-radius: 0.5rem;
  padding: 0.4em;
  margin: 0.5em;
}

.mainPage__chatReceiver {
  background-color: lightgreen;
  margin-left: auto;
}

.mainPage__footer {
  padding-top: 1em;
  display: flex;
  align-items: center;
}

.mainPage__formInput {
  flex: 1;
  display: flex;
  align-items: center;
}

.mainPage__formInput > input {
  width: max-content;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  margin-left: 2em;
  margin-right: 2em;
  flex: 1;
}

.mainPage__formInput > button {
  border: none;
  background-color: transparent;
}
