.mainPage {
  width: 60vw;
  height: 80vh;
  background-color: #e0e0e0;
  border-radius: 1.3em;
  padding: 1em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  flex-direction: column;
}

.mainPage__header {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
}

.mainPage__username {
  font-size: 1.3rem;
}

.mainPage__status {
  font-size: 0.7rem;
  color: grey;
}

.mainPage__headerOptions {
  margin-left: auto;
  margin-right: 1em;
  margin-block: auto;
  display: flex;
  align-items: center;
  gap: 1em;
}

.MuiAvatar-root {
  margin-right: 0.5em;
}

.mainPage__headerSignOutLink > .MuiSvgIcon-root {
  display: flex;
  align-items: center;
  border-radius: 50%;
  color: gray;
  margin: 0;
}

.mainPage__headerSignOutLink > .MuiSvgIcon-root:hover {
  color: black;
  transform: scale(1.2);
}

.mainPage__chatSpace {
  background-color: darkgray;
  overflow: scroll;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.mainPage__chatSpace::-webkit-scrollbar {
  display: none;
}

.mainPage__chat {
  font-size: 0.9rem;
  background-color: lightyellow;
  width: fit-content;
  /* border: 2px solid white; */
  border-radius: 0.5rem;
  padding-top: 1em;
  padding-bottom: 0.4em;
  padding-inline: 0.8em;
  margin-block: 1em;
  margin-inline: 0.5em;
  position: relative;
}

.mainPage__chat > .chat__username,
.mainPage__chat > .chat__timestamp {
  font-size: 8px;
  font-weight: 600;
}

.mainPage__chat > .chat__username {
  position: absolute;
  top: 2px;
}

.mainPage__chat > .chat__timestamp {
  bottom: 2px;
  color: gray;
  margin-left: 1em;
}

.mainPage__chatReceiver {
  background-color: lightgreen;
  margin-left: auto;
}

.mainPage__chatReceiver > .chat__timestamp {
  color: black;
}

.mainPage__footer {
  padding-top: 1em;
  display: flex;
  align-items: center;
}

.mainPage__footerOptions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-inline: 0.5em;
}

.mainPage__footer .MuiSvgIcon-root {
  cursor: pointer;
  color: grey;
  margin-inline: 0.2em;
  margin-block: auto;
}

.mainPage__footer .MuiSvgIcon-root:hover {
  color: black;
}

.mainPage__formInput {
  flex: 1;
  display: flex;
  align-items: center;
}

.mainPage__formInput > input {
  width: max-content;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  margin-inline: 0.5em;
  margin-block: auto;
  flex: 1;
}

.mainPage__formInput > button {
  border: none;
  background-color: transparent;
}
